<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="./interfaz.hbs">Ingreso de clientes</a></li>
            <li class="nav-item active"><a class="nav-link" href="./interfaz2.hbs">Ingreso de libros</a></li>
            <li class="nav-item active"><a class="nav-link" href="./interfaz3.hbs">Registro de prestamo de salida</a></li>
            <li class="nav-item active"><a class="nav-link" href="./interfaz4.hbs">Registro de prestamo de llegada</a></li>
        </ul>
    </div>
</nav>